/*

!.gitignore
!.git-hooks/
!.github/
!.vscode/
!.yamllint
!.HA_VERSION
!*.md
!*.yaml

!automations/
!customizations/
!custom_components/
!entities/
!esphome/
!integrations/
!scripts/
!services/
!zigbee2mqtt/

google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
