/*

!.gitignore
!.git-hooks/
!.github/
!.vscode/
!.yamllint
!.HA_VERSION
!*.md
!*.yaml

!automations/
!customizations/
!entities/
!integrations/
!scripts/
!services/

ip_bans.yaml
known_devices.yaml
secrets.yaml
