id: type_automation_name
alias: 'Type: Automation Name'
description: 'When something, if another thing, do the thing'
trigger:
  platform: state
  entity_id: sensor.some_sensor
  from: 'off'
  to: 'on'
condition:
  - condition: state
    entity_id: sensor.another_sensor
    state: 'on'
action:
  - service: notify.persistent_notification
    data:
      # entity_id: entity.something
      message: 'Test Automation'
      title: 'Automation fired'
